@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.menu {
    background-color: #002F6C;
    /* azul institucional */
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    /* fixo no topo */
    top: 0;
    z-index: 1000;
}

.menu-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.menu-nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.menu-nav a:hover {
    color: #aad4ff;
}




.rodape {
    background-color: #002F6C;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}

.conteudo-rodape p,
.conteudo-rodape a {
    margin: 0.5rem 0;
    font-size: 0.95rem;
}

.conteudo-rodape a {
    color: #aad4ff;
    text-decoration: none;
}

.conteudo-rodape a:hover {
    text-decoration: underline;
  }

  .icone {
    width: 25px;
    vertical-align: middle;
    margin-right: 5px;
}

.museu_imperial p {
    display: flex;
}

.estilo_regiao {
    background-color: #2f3a47;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

.estilo_regiao h2 {
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

.estilo_regiao p {
    color: white;
}


.estilo_regiao .atracao {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.estilo_regiao .atracao img {
    border-radius: 5px;
    transition: transform 0.3s;
}

.estilo_regiao .atracao img:hover {
    transform: scale(1.1);
}

.estilo_regiao .atracao p {
    color: white;
    margin: 0.5rem 0;
}


.estilo_regiao div img {
    border-radius: 5px;
}

.estilo_regiao div img:hover {
    transform: scale(1.1);
}

/* Inicio */
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('./img/petropolisfundo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.introducao {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease-in-out;
}

.titulo, .subtitulo {
  font-size: 3rem;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.subtitulo {
  font-size: 1.5rem;
}

.home:hover .introducao {
  background-color: rgba(0, 0, 0, 0.5);
}

.home:hover .titulo, .home:hover .subtitulo {
  opacity: 1;
}
  
/* Guias */
.gastronomia {
  position: relative;
  width: 100%;
  min-height: 70vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gastronomia__fundo {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  z-index: -1;
}

.gastronomia__texto {
  color: #fff;
  padding: 1.5em;
  z-index: 1;
  backdrop-filter: none; 
  max-width: 900px;
}

.gastronomia__titulo{
  padding: 1em;
  text-align: center;
}

.gastronomia__descricao{
  padding: 1em;
  text-align: justify;
}

.atracoes {
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;  
  justify-content: center;
  flex-direction: column;
  background-color: #314968;
}

.atracoes__imagens {
  display: flex;
  gap: 1em;
  justify-content: center;
  padding: 2em;
  align-items: center;
}

.atracoes__imagem > img {
  display: inline-block;
  width: 35vh;
  height: 35vh;
  object-fit: cover;
  border-radius: 10%;
}

.atracoes__texto{
  color: white;
  padding-bottom: 2em;
  text-align: center;
  max-width: 170vh;
}

.atracoes__titulo{
  padding: 1em;
  text-align: center;
}

.atracoes__descricao{
  text-align: justify;
  padding: 1em;
}

.evento {
  background-color: darkgrey;
  position: relative;
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.evento__imagem {
  width: 60%;
}

.evento__imagem img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.evento__texto {
  width: 40%;
  color: white;
  padding: 3em;
  text-align: center;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.evento__texto {
  width: 40%;
  color: white;
  padding: 3em;
  text-align: center;
  max-width: 900px;
}


.evento__descricao{
  text-align: justify;
  padding: 1em;
}